@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

body
{
    padding: 70px 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"]
{
    outline: none;
    border: none;
    height: 50px;
    padding-left: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
}

input[type="text"]:focus
{
    transform: scale(1.05) translateX(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.17);
}

input[type="checkbox"]
{
    margin: 0 20px;
}

ion-icon
{
    transform: scale(1.5);
    color: rgba(0, 0, 0, 0.7);
}

#nomeDoItem
{
    grid-area: input;
}

#btnAdd
{
    grid-area: btn;
}

@media(max-width: 549px)
{
    body
    {
        padding: 0;
        align-items: baseline;
    }

    input[type="text"]:focus
    {
        transform: scale(1) translateX(0px);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }
}